@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

:root {
  --primary-very-dark-magenta: hsl(300, 43%, 22%);
  --primary-soft-pink: hsl(333, 80%, 67%);
  --neutral-dark-grayish-magenta: hsl(303, 10%, 53%);
  --neutral-light-grayish-magenta: hsl(300, 24%, 96%);
  --neutral-white: hsl(0, 0%, 100%);
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  background-image: url("/images/bg-pattern-top-desktop.svg"),
    url("/images/bg-pattern-bottom-desktop.svg");
  background-position: left -5vw top 0vh, right 2vw;
  overflow: auto;
  background-repeat: no-repeat;
}

#main-content {
  /* max-height: 100vh; */
  max-width: 1000px;
  margin: auto;
}

#header-content {
  /* max-height: 50vh; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5rem;
  max-width: 955px;
}

#left-header-area {
  max-width: 400px;
}

#left-header-area h1 {
  font-size: 2.4rem;
  color: var(--primary-very-dark-magenta);
  margin-bottom: 1rem;
}

#left-header-area p {
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.rating-area p {
  display: inline;
  font-weight: bold;
  color: var(--primary-very-dark-magenta);
}

.rating-icons {
  display: inline;
  margin-right: 1.5rem;
}

.rating-icons img {
  margin-right: 0.4rem;
}

#reviews {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 4rem;
  /* max-height: 40vh; */
}

.review {
  background-color: var(--primary-very-dark-magenta);
  color: var(--neutral-white);
  padding: 2.2rem 1.5rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

.review-one {
  margin-bottom: 2rem;
}

.review-two {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.review-three {
  margin-top: 2rem;
}

.user-info {
  height: 5vh;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  max-width: 12rem;
  margin: 0.5rem 0 1.8rem 0;
}

.user-info h3 {
  font-size: 0.76rem;
  margin-bottom: 0.3rem;
}

.user-info p {
  color: var(--primary-soft-pink);
  font-weight: lighter;
  font-size: 0.75rem;
}

.user-image {
  border-radius: 50%;
  max-width: 2.5rem;
  margin-right: 1.5rem;
}

.review-content {
  max-width: 250px;
  font-size: 0.695rem;
  line-height: 1.2rem;
  font-weight: normal;
}

.rating-area {
  border: 1px solid transparent;
  background-color: var(--neutral-light-grayish-magenta);
  padding: 0.8rem 3rem 0.8rem 2rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  border-radius: 0.4rem;
}

.rating-one {
  margin-right: 6rem;
}

.rating-two {
  margin-left: 2rem;
  margin-right: 3rem;
}

.rating-three {
  margin-left: 5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 359px) {
  body {
    background-image: url("/images/bg-pattern-top-mobile.svg"),
      url("/images/bg-pattern-bottom-mobile.svg");
    background-position: left -5vw top 0vh, right 2vw bottom 10vh;
    background-repeat: no-repeat;
  }

  #main-content {
    max-width: 260px;
    margin: auto;
  }

  #header-content {
    display: flex;
    flex-direction: column;
  }

  #left-header-area h1 {
    font-size: 2rem;
    text-align: center;
  }

  #left-header-area p {
    text-align: center;
    font-size: 0.94rem;
    margin-bottom: 2rem;
  }

  .rating-one {
    margin-right: 0;
  }

  .rating-two {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .rating-three {
    margin-left: 0rem;
  }

  .rating-icons {
    display: block;
    margin-right: 0;
    text-align: center;
  }

  .rating-area {
    width: 160px;
  }

  .rating-area p {
    display: block;
    text-align: center;
    margin-top: 0.5rem;
  }

  #reviews {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;
  }

  .review {
    margin-right: 0;
    text-align: center;
    padding: 1rem;
  }

  .user-info {
    margin-right: 0;
    text-align: center;
    justify-content: center;
  }
  .review-content {
    max-width: 240px;
    margin: auto;
    text-align: center;
  }
}

@media (min-width: 360px) and (max-width: 900px) {
  body {
    background-image: url("/images/bg-pattern-top-mobile.svg"),
      url("/images/bg-pattern-bottom-mobile.svg");
    background-position: left -5vw top 0vh, right 2vw bottom 10vh;
    background-repeat: no-repeat;
  }

  #main-content {
    max-width: 350px;
    margin: auto;
  }

  #header-content {
    display: flex;
    flex-direction: column;
  }

  #left-header-area h1 {
    font-size: 2rem;
    text-align: center;
  }

  #left-header-area p {
    text-align: center;
    font-size: 0.94rem;
    margin-bottom: 2rem;
  }

  .rating-one {
    margin-right: 0;
  }

  .rating-two {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .rating-three {
    margin-left: 0rem;
  }

  .rating-icons {
    display: block;
    margin-right: 0;
    text-align: center;
  }

  .rating-area {
    width: 260px;
  }

  .rating-area p {
    display: block;
    text-align: center;
    margin-top: 0.5rem;
  }

  #reviews {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;
  }

  .review {
    margin-right: 0;
    text-align: center;
    padding: 1rem;
  }

  .user-info {
    margin-right: 0;
    text-align: center;
    justify-content: center;
  }
  .review-content {
    max-width: 320px;
    margin: auto;
    text-align: center;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  body {
    background-image: url("/images/bg-pattern-top-mobile.svg"),
      url("/images/bg-pattern-bottom-mobile.svg");
    background-position: left -5vw top 0vh, right 2vw bottom 10vh;
    background-repeat: no-repeat;
  }

  #main-content {
    max-width: 800px;
    margin: auto;
  }

  #header-content {
    display: flex;
    flex-direction: column;
  }

  #left-header-area h1 {
    font-size: 2rem;
    text-align: center;
  }

  #left-header-area p {
    text-align: center;
    font-size: 0.94rem;
    margin-bottom: 2rem;
  }

  .rating-one {
    margin-right: 0;
  }

  .rating-two {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .rating-three {
    margin-left: 0rem;
  }

  .rating-icons {
    display: block;
    margin-right: 0;
    text-align: center;
  }

  .rating-area {
    width: 360px;
  }

  .rating-area p {
    display: block;
    text-align: center;
    margin-top: 0.5rem;
  }

  #reviews {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;
  }

  .review {
    max-width: 400px;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
    padding: 1rem;
  }

  .user-info {
    margin-right: 0;
    text-align: center;
    justify-content: center;
  }
  .review-content {
    max-width: 400px;
    margin: auto;
    text-align: center;
  }
}
